<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974292495862-lrf068q8a9gkaekj97eqvl3h6uu3qlli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974292495862-lrf068q8a9gkaekj97eqvl3h6uu3qlli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974292495862-n7n0f3epuqope93gt8mt6br5392mbmu6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCyBqAhxiEdPaRKbUtrOX-LTIrZmZM_4TY</string>
	<key>GCM_SENDER_ID</key>
	<string>974292495862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourlistfrontend.yourlist.ios</string>
	<key>PROJECT_ID</key>
	<string>yourlist-7e8be</string>
	<key>STORAGE_BUCKET</key>
	<string>yourlist-7e8be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:974292495862:ios:b91beccd34726afa322bd7</string>
	<key>DATABASE_URL</key>
	<string>https://yourlist-7e8be.firebaseio.com</string>
</dict>
</plist>
