<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div>
        <label><span class="auto-style2"><strong>CRUD Operations with Mongoose</strong></span></label>
    </div>

    <table class="auto-style1">
        <tr>
            
            <td> <a href="/add_user">Add new User</a> </td>
        </tr>
        <tr>
			
            <td><a href="/read_user">Update User</a></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    </table>

</body>
</html>